<!doctype html>
<head>
    <title>StackSustain</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Stack<b>Sustain</b></h1>
    <siteInfo>
        This site calculates your Stack<b>Sustain</b> score, a score representing how active you've been in asking or answering questions about sustainability.
        <br>
        The tags we use to determine your activity in sustainability-related topics are: {{ g.tags }}
    </siteInfo>
    <p><b>Fill in your account id for the different stack exchange sites in the text fields below:</b></p>
    <form method="post">
        <table>
            <tr>
                <td><label for="username_so">Stack Overflow</label></td>
                <td><input name="username_so" id="username_so" type="text"/></td>
            </tr>
            <tr>
                <td><label for="username_su">Super User</label></td>
                <td><input name="username_su" id="username_su" type="text"/></td>
            </tr>
            <tr>
                <td><label for="username_sf">Server Fault</label></td>
                <td><input name="username_sf" id="username_sf" type="text"/></td>
            </tr>
        </table>
        <input type="submit" value="Check score">
    </form>
    <img src="static/url_bar.png"/>
    {% if g.user_id_so or g.user_id_su or g.user_id_sf %}
        <h1>Your current Stack<b>Sustain</b> score is {{g.user_score}}!</h1>
    <h2>Sustainability questions you asked</h2>
    <container>
        {% if g.questions_so %}
        <questionList>
            <h3>Stack Overflow</h3>
            {% for message in g.questions_so %}
            <questionContainer>
                <a href="{{message["link"]}}">{{ message["title"]}}</a>
                <questionSubInfo>
                    Answered: {{ message["is_answered"] }}
                </questionSubInfo>
            </questionContainer>
            {% endfor %}
        </questionList>
        {% endif %}

        {% if g.questions_su %}
        <questionList>
            <h3>Super user</h3>
            {% for message in g.questions_su %}
            <questionContainer>
                <a href="{{message["link"]}}">{{ message["title"]}}</a>
                <questionSubInfo>
                    Answered: {{ message["is_answered"] }}
                </questionSubInfo>
            </questionContainer>
            {% endfor %}
        </questionList>
        {% endif %}

        {% if g.questions_sf %}
        <questionList>
            <h3>Stack Overflow</h3>
            {% for message in g.questions_sf %}
            <questionContainer>
                <a href="{{message["link"]}}">{{ message["title"]}}</a>
                <questionSubInfo>
                    Answered: {{ message["is_answered"] }}
                </questionSubInfo>
            </questionContainer>
            {% endfor %}
        </questionList>
        {% endif %}
    </container>

    {% else %}
      <br/>
    {% endif %}


    <h2>Recommended questions to boost your score</h2>

    <container>
        <questionList>
            <h3>Stack Overflow</h3>
            {% for question in so_questions %}
            <questionContainer>
                <a href="{{question["link"]}}">{{ question["title"]}}</a>
                <questionSubInfo>
                    Answered: {{ question["is_answered"] }}
                </questionSubInfo>
            </questionContainer>
            {% endfor %}
        </questionList>
        <questionList>
            <h3>Super User</h3>
            {% for question in su_questions %}
            <questionContainer>
                <a href="{{question["link"]}}">{{ question["title"]}}</a>
                <questionSubInfo>
                    Answered: {{ question["is_answered"] }}
                </questionSubInfo>
            </questionContainer>
            {% endfor %}
        </questionList>
        <questionList>
            <h3>Server Fault</h3>
            {% for question in sf_questions %}
            <questionContainer>
                <a href="{{question["link"]}}">{{ question["title"]}}</a>
                <questionSubInfo>
                    Answered: {{ question["is_answered"] }}
                </questionSubInfo>
            </questionContainer>
            {% endfor %}
        </questionList>
    </container>
</body>
