* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana, serif;
}

body {
    padding: 2rem;
    background-color: #171717;
    color: #ffeddb;
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: 20px;
}

form {
    display: flex;
}

label {
    font-size: 20px;
    font-weight: bold;
}

input {
    font-size: 20px;
    margin: 0.1rem 0.1rem 0.1rem 1rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 50px;
    background-color: #424242;
    color: whitesmoke;
}

input[type=submit] {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: darkseagreen;
    color: #212121;
    margin: 4.5rem 0 4.5rem 2rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #799f79;
}

input[type=submit]:active {
    background-color: #698a69;
}

p {
    font-size: 20px;
}

siteInfo {
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: normal;
}

h3 {
    text-decoration: underline;
}

container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
}

questionList {
    background-color: #424242;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

questionContainer {
    background-color: #2d2d2d;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 10px;
}

questionSubInfo {
    font-size: 15px;
    font-style: italic;
    color: silver;
}

a {
    font-weight: bold;
}

a:link {
  color: cornflowerblue;
}

a:visited {
  color: mediumpurple;
}

a:active {
  color: pink;
}